/* Small screens only */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem; 
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin-left: 0;
        margin-bottom: 5rem;
    }
}

/* Large screens only */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;    
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }

    .navbar:hover .logo-text {
        left: 0px;
    }
}