:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 0.5rem;
    overflow-x: hidden;
}


body::-webkit-scrollbar-track{
    background: var(--scrollbar-track);
}

body::-webkit-scrollbar-thumb{
    background: var(--scrollbar-thumb);
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: 200ms ease;
    z-index: 99;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
    cursor: pointer;
}

.link-text{
    display: none;
    margin-left: 1rem;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.nav-link i {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color:#00CED1;
    transition: var(--transition-speed);
}


.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo i {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo i {
    transform: rotate(-180deg);
    transition: transform var(--transition-speed);
}

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --scrollbar-track: #23232e;
    --scrollbar-thumb: #D100CE;
}
  
.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
    --scrollbar-track: #ffffff;
    --scrollbar-thumb: #cccccc;
}


.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.header-image {
    background-image: url("../images/gray-metal-cubes-decorative-1005644.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    transition: filter 600ms ease-in-out;
    overflow-x: hidden;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: 0;
}
.header-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.6);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    height: auto;
    padding: 1rem;
    text-align: center;
    transition: all 600ms ease;
    z-index: 1;
}

a.cv-button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #141418;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
    color:var(--text-primary);
    background-color:var(--bg-primary);
}

a.cv-button:hover{
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

.down-button {
    color: black;
    font-weight: bold;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    height: 30%;
    padding: 20px;
    text-align: center;
    transition: all 300ms ease;
    z-index: 1;
}

.down-button:hover{
    color: #00CED1;
    cursor: pointer;
}

main h1 {
    text-align: center;
}

.is-this-for-ants {
    display: none;
}

.hidden{
    display:none;
}