:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    --hover-marine: #00CED1;
    --border-primary: #f1f1f1;
}

main {
    margin-left: 5rem;
    padding: 1rem;
    padding-top: 64px;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.5rem;
    overflow-x: hidden;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

body::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: 200ms ease;
    z-index: 99;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
    cursor: pointer;
}

.link-text {
    display: none;
    margin-left: 1rem;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.nav-link i {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: var(--hover-marine);
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo i {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo i {
    transform: rotate(-180deg);
    transition: transform var(--transition-speed);
}

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --scrollbar-track: #23232e;
    --scrollbar-thumb: var(--hover-marine);
    --border-primary: #141418;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
    --scrollbar-track: #ffffff;
    --scrollbar-thumb: #cccccc;
    --border-primary: #f1f1f1;
}

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.header-image {
    background-image: url("../images/gray-metal-cubes-decorative-1005644.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    transition: filter 600ms ease-in-out;
    overflow-x: hidden;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: 0;
}

.header-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: bold;
    border: 3px solid var(--border-primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    height: auto;
    padding: 1rem;
    text-align: center;
    transition: all 600ms ease;
    z-index: 1;
}

a.cv-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #141418;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
    color: var(--text-primary);
    background-color: var(--bg-primary);
}

a.cv-button:hover {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

.down-button {
    color: #23232e;
    font-weight: bold;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    height: 30%;
    padding: 20px;
    text-align: center;
    transition: all 300ms ease;
    z-index: 1;
}

.down-button:hover {
    color: var(--hover-marine);
    cursor: pointer;
}

main h1 {
    text-align: center;
}

.is-this-for-ants {
    display: none;
}

.hidden {
    display: none;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    flex-direction: row;
    padding: 0px;
}

.project-item {
    width: auto;
    flex-grow: 1;
    padding: 0px;
    margin: 10px;
    border: 2px solid black;
    flex-shrink: 1;
}

.project-item h3 {
    transform: translate(0rem, -2.7rem);
    z-index: 3;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    transition: 200ms ease;
    text-align: center;
    text-decoration: none;
}

.project-img {
    max-height: 100%;
    min-width: 100%;
    object-position: center;
    object-fit: cover;
    vertical-align: bottom;
    transition: 200ms ease;
}

.project-img:hover+h3 {
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
}

.project-img:hover {
    cursor: pointer;
    filter: brightness(105%);
}

.alert {
    padding: 10px;
    background-color: #2196F3;
    /* Red */
    color: white;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    z-index: 5;
    width: 100vw;
    line-height: 20px;
    height: auto;
    transition: 200ms ease;
}

.alert:hover {
    cursor: pointer;
    filter: brightness(105%);
}

.closebtn {
    padding: 0px;
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 1rem;
    font-size: 22px;
    line-height: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.subt {
    text-decoration: underline;
    display: inline;
    margin: 1rem;
    transition: 200ms ease;
}

.subt:hover {
    color: var(--hover-marine);
    cursor: pointer;
}

.collapser {
    padding-right: 1rem;
    transition: all 200ms ease;
}

.collapser:hover {
    cursor: pointer;
    color: var(--hover-marine);
}

.footer {
    position: absolute;
    margin: 0px;
    border: 0;
    right: 0;
    bottom: 0;
    left: 0;
    top: 10px;
    height: 8rem;
    padding: 0;
    margin-left: 5rem;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    text-align: center;
}

.footer>div {
    display: table;
    margin: 0 auto;
}

.footer>div>ul {
    list-style-type: none;
    padding: 0;
    text-align: justify;
    margin: 0;
    padding-bottom: 1rem;
    display: inline;
}

.footer>div>ul li {
    display: inline;
    margin: 1rem;
}

.footer>div>ul li a {
    color: var(--text-primary);
    text-decoration: none;
    transition: all 300ms ease;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

.footer>div>ul li a:hover {
    color: var(--hover-marine);
}

.emphasis {
    font-weight: bold;
    display: inline;
}

.skills {
    display: flex;
    background-color: aqua;
    align-items: stretch;
}

.skills-container {
    margin: auto;
    flex-wrap: wrap;
    flex-shrink: 1;
    background-color: antiquewhite;
}

.skills-group {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgb(222, 233, 125);
}

.skills-list>h4 {
    width: auto;
    margin: 1rem;
}

.skills-list {
    list-style-type: none;
    text-decoration: underline;
    margin: 0px;
}

.skills-group ul {
    margin: 1rem;
    padding: 0;
    list-style-type: none;
}

.skills-group ul li {
    padding-left: 1rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 1rem auto 1rem auto;
    height: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.container {
    padding: 2px 16px;
    height: 100%;
}

.flex-skills {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: stretch;
}